[Unit]
Description=Write Docker container state metrics for the textfile collector
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-metrics.sh
