---
- name: Display node information
  ansible.builtin.debug:
    msg: "Preparing {{ inventory_hostname }} ({{ ansible_host }}) - FQDN: {{ hostname }}"

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: dist
    autoremove: yes

- name: Install required system packages
  ansible.builtin.apt:
    name: "{{ system_packages }}"
    state: present

- name: Disable swap immediately
  ansible.builtin.command: swapoff -a
  when: disable_swap
  changed_when: false

- name: Remove swap from /etc/fstab
  ansible.builtin.lineinfile:
    path: /etc/fstab
    regexp: '.*swap.*'
    state: absent
  when: disable_swap

- name: Load required kernel modules
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  loop: "{{ kernel_modules }}"

- name: Ensure kernel modules load on boot
  ansible.builtin.lineinfile:
    path: /etc/modules-load.d/k3s.conf
    line: "{{ item }}"
    create: yes
    mode: '0644'
  loop: "{{ kernel_modules }}"

- name: Configure sysctl settings for Kubernetes
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    sysctl_set: yes
    state: present
    reload: yes
    sysctl_file: /etc/sysctl.d/99-kubernetes.conf
  loop: "{{ sysctl_settings }}"

- name: Enable and start iscsid service (required for Longhorn)
  ansible.builtin.systemd:
    name: iscsid
    enabled: yes
    state: started

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ hostname }}"

- name: Update /etc/hosts with all cluster nodes (using FQDN)
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: ".*{{ hostvars[item]['hostname'] | lower }}.*"
    line: "{{ hostvars[item]['ansible_host'] }} {{ hostvars[item]['hostname'] }} {{ hostvars[item]['hostname'] | lower }} {{ item }}"
    state: present
  loop: "{{ groups['k3s_cluster'] }}"

- name: Add VIP to /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: ".*k3s-vip.*"
    line: "{{ kubevip_vip }} k3s-vip k3s-vip.louielab.cc"
    state: present

- name: Add Rancher hostname to /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: ".*{{ rancher_hostname }}.*"
    line: "{{ ingress_nginx_ip }} {{ rancher_hostname }}"
    state: present

- name: Check if ufw is installed
  ansible.builtin.command: which ufw
  register: ufw_check
  changed_when: false
  failed_when: false

- name: Disable ufw if present
  ansible.builtin.systemd:
    name: ufw
    enabled: no
    state: stopped
  when: ufw_check.rc == 0
  ignore_errors: yes

- name: Check if reboot is required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required

- name: Reboot if required
  ansible.builtin.reboot:
    msg: "Reboot initiated by Ansible for kernel/package updates"
    connect_timeout: 5
    reboot_timeout: 300
    pre_reboot_delay: 0
    post_reboot_delay: 30
    test_command: uptime
  when: reboot_required.stat.exists

- name: Wait for node to be ready after potential reboot
  ansible.builtin.wait_for_connection:
    delay: 5
    timeout: 300
