global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - 192.168.51.20:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets:
          - 192.168.10.2:9100
          - 192.168.10.3:9100
          - 192.168.10.4:9100
          - 192.168.50.3:9100
          - 192.168.50.2:9100
          - 192.168.51.20:9100
          - 192.168.50.20:9100
          - 192.168.50.22:9100
          - 192.168.50.25:9100
          - 192.168.50.26:9100
          - 192.168.50.31:9100
          - 192.168.50.32:9100
          - 192.168.50.33:9100
          - 192.168.50.34:9100
          - 192.168.50.35:9100
          - 192.168.50.36:9100
          - 192.168.51.30:9100
          - 192.168.10.10:9100
          - 192.168.51.1:9100

  - job_name: 'cadvisor'
    static_configs:
      - targets:
          - 192.168.50.3:8080
          - 192.168.50.2:8080
          - 192.168.51.20:8080

  - job_name: 'promtail'
    static_configs:
      - targets:
          - 192.168.10.2:9080
          - 192.168.10.3:9080
          - 192.168.10.4:9080
          - 192.168.50.3:9080
          - 192.168.50.2:9080
          - 192.168.51.20:9080
          - 192.168.50.20:9080
          - 192.168.50.22:9080
          - 192.168.50.25:9080
          - 192.168.50.26:9080
          - 192.168.50.31:9080
          - 192.168.50.32:9080
          - 192.168.50.33:9080
          - 192.168.50.34:9080
          - 192.168.50.35:9080
          - 192.168.50.36:9080
          - 192.168.51.30:9080
          - 192.168.10.10:9080
